{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Aplikacija za testiranje ranjivosti!</h1>

    Web2 Projekt2

    <form action="/sql" method="post">
        <label for="sqlCheckbox">Uključite ranjivost za SQL injection:</label>
        <input type="checkbox" id="sqlCheckbox" name="sqlCheckbox">

        <br>

        <label for="name">Upišite traženo ime:</label>
        <input type="text" id="name" name="name">

        <br>

        <button type="submit">Traži</button>
    </form>
</div>
{% endblock %}
